---
import { SearchOrBrowse } from "../components/searchOrBrowse";
import {
  getPathWithBase,
  getMastodonPosts,
  getMastodonProfile,
} from "../dataHelpers";
import Base from "../layouts/base.astro";

const profileData = getMastodonProfile();
const outboxData = getMastodonPosts();
---

<Base
  title={`${profileData.name} @${profileData.preferredUsername} Mastodon archive`}
>
  <main>
    <div class="header">
      <img
        src={getPathWithBase(profileData.image.url)}
        alt=""
        class={"header-background"}
        loading="eager"
      />
      <div>
        <img
          src={getPathWithBase(profileData.icon.url)}
          alt=""
          height={100}
          width={100}
          class={"main-avatar"}
          loading="eager"
        />
        {profileData.name} @{profileData.preferredUsername} Mastodon archive
      </div>
    </div>
    <div class="main-content">
      <div class="profile-bio" set:html={profileData.summary} />
      <div class="profile-meta">
        {new Intl.NumberFormat().format(outboxData.length)} posts
      </div>
      <SearchOrBrowse client:idle />
    </div>
  </main>
</Base>
