---
import { SearchOrBrowse } from "../components/searchOrBrowse";
import { getMastodonPosts, getMastodonProfile } from "../dataHelpers";
import Base from "../layouts/base.astro";

const profileData = getMastodonProfile();
const outboxData = getMastodonPosts();
---

<Base>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>
        {profileData.name} @{profileData.preferredUsername} Mastodon archive
      </title>
      <base href={import.meta.env.BASE_URL} />
    </head>
    <body>
      <main>
        <div class="header">
          <img
            src={profileData.image.url}
            alt=""
            class={"header-background"}
            loading="eager"
          />
          <div>
            <img
              src={profileData.icon.url}
              alt=""
              height={100}
              width={100}
              class={"main-avatar"}
              loading="eager"
            />
            {profileData.name} @{profileData.preferredUsername} Mastodon archive
          </div>
        </div>
        <div class="main-content">
          <div class="profile-bio" set:html={profileData.summary} />
          <div class="profile-meta">
            {new Intl.NumberFormat().format(outboxData.length)} posts
          </div>
          <SearchOrBrowse client:idle />
        </div>
      </main>
    </body>
  </html>
</Base>
