---
import { getOutboxData, getProfileData } from "../dataHelpers";
import Base from "../layouts/base.astro";
import avatar from "../../archive-data/avatar.jpg";
import header from "../../archive-data/header.jpg";
import { Image } from "astro:assets";

const profileData = getProfileData();
const outboxData = getOutboxData();
---

<Base>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>
        {profileData.name} @{profileData.preferredUsername} Mastodon archive
      </title>
    </head>
    <body>
      <main>
        <div class="header">
          <Image src={header} alt="" class={"header-background"} />
          <div>
            <Image
              src={avatar}
              alt=""
              height={100}
              width={100}
              class={"main-avatar"}
            />
            {profileData.name} @{profileData.preferredUsername} Mastodon archive
          </div>
        </div>
        <div class="main-content">
          <div class="profile-bio" set:html={profileData.summary} />
          <pre>
            {JSON.stringify(outboxData, null, 2)}
          </pre>
        </div>
      </main>
    </body>
  </html>
</Base>
